.scrollbar {
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background: theme('colors.neutral.400');
    border: 0px none #ffffff;
    border-radius: 50px;
  }
}