@import 'tailwindcss/base';
@import './base.css';
@import './fonts.css';
@import './docsearch.css';
@import './prism.css';
@import './react-flow.css';
@import './totem.css';
@import './accent.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './scrollbar.css';